body, html {
    overflow:hidden;
    margin:0;
    padding:0;
    background:#eee;
    text-align: center;
}

canvas{
	border: black 1px solid;
}

#splashScreen {
     background: #111111; 
      position: absolute;
     left: 14.5%;
     top: 0%; 
     width: 1024px; 
     height: 768px; 
     z-index: 1;

 }



 #splashScreen #loadIcon{

     width:160px; 
     height:160px;
     background: url(http://www.ciaranmccann.me/fyp/data/img/cdrom.png);    
     position: absolute;
     left: 50%;
     top: 50%; 
     margin-left: -80px;
     margin-top: -80px;


    -webkit-animation: wink 1.8s steps(25, end);
    -moz-animation: wink 1.8s steps(25, end);
    
 }


 @-webkit-keyframes wink {
    from { background-position: 0px 0px; }
    to { background-position: 0px -4000px; }
}

@-moz-keyframes wink {
      from { background-position: 0px 0px; }
    to { background-position: 0px -4000px; }
}

@keyframes wink {
      from { background-position: 0px 0px; }
    to { background-position: 0px -4000px; }
}
